<html>
<body>
<h2 style="color: red">
Hola Alumnos esta es nuestra segunda sesion del Curso, uso de Template, Context y Render.
</h2>
{%  if nombre_persona == "Alexander Sebastian"%}
<p>El curso es dictado por el Prof. Titular</p>
{% else %}
<p>El curso es dictado por el Prof. Suplente</p>
{% endif%}


<p>El nombre del profesor del curso es:{{nombre_persona.upper}} {{apellido_persona.upper}}</p>
<p>Estamos viendo el tema de plantillas: {{momento_actual.day}} / {{momento_actual.month}} / {{momento_actual.year}}</p>

<p><strong> Temas a desarrollar en el curso</strong><p>
<p>
  <ul>
   {% if temas%}
      {% for elTema in temas %}
        <li> {{elTema}}</li>
      {% endfor %}
   {% else %}
     <p>No hay temas a mostrar o desarrollar</p>
   {% endif %}
  </ul>
</p>

</body>
</html>
